# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

libpga/Debug/libpga.lastbuildstate
libpga/Debug/libpga.log
libpga/Debug/libpga.pdb
libpga/Debug/libpga.unsuccessfulbuild
libpga/Debug/link-cvtres.read.1.tlog
libpga/Debug/link-cvtres.write.1.tlog
libpga/Debug/link-rc.read.1.tlog
libpga/Debug/link-rc.write.1.tlog
libpga/Debug/link.command.1.tlog
libpga/Debug/link.read.1.tlog
libpga/Debug/link.write.1.tlog
libpga/Debug/pga.cu.cache
libpga/DebugTest/libpga.Build.CppClean.log
libpga/DebugTest/libpga.ilk
libpga/DebugTest/libpga.lastbuildstate
libpga/DebugTest/libpga.log
libpga/DebugTest/libpga.pdb
libpga/DebugTest/link-cvtres.read.1.tlog
libpga/DebugTest/link-cvtres.write.1.tlog
libpga/DebugTest/link-rc.read.1.tlog
libpga/DebugTest/link-rc.write.1.tlog
libpga/DebugTest/link.4200-cvtres.read.1.tlog
libpga/DebugTest/link.4200-cvtres.write.1.tlog
libpga/DebugTest/link.4200-rc.read.1.tlog
libpga/DebugTest/link.4200-rc.write.1.tlog
libpga/DebugTest/link.4200.read.1.tlog
libpga/DebugTest/link.4200.write.1.tlog
libpga/DebugTest/link.5352-cvtres.read.1.tlog
libpga/DebugTest/link.5352-cvtres.write.1.tlog
libpga/DebugTest/link.5352-rc.read.1.tlog
libpga/DebugTest/link.5352-rc.write.1.tlog
libpga/DebugTest/link.5352.read.1.tlog
libpga/DebugTest/link.5352.write.1.tlog
libpga/DebugTest/link.command.1.tlog
libpga/DebugTest/link.read.1.tlog
libpga/DebugTest/link.write.1.tlog
libpga/DebugTest/pga.cu.cache
libpga/DebugTest/test.cu.cache
libpga/DebugTest/test1.cu.cache
libpga/DebugTest/test2.cu.cache
libpga/DebugTest/test3.cu.cache
libpga/DebugTest2/libpga.ilk
libpga/DebugTest2/libpga.lastbuildstate
libpga/DebugTest2/libpga.log
libpga/DebugTest2/libpga.pdb
libpga/DebugTest2/link-cvtres.read.1.tlog
libpga/DebugTest2/link-cvtres.write.1.tlog
libpga/DebugTest2/link-rc.read.1.tlog
libpga/DebugTest2/link-rc.write.1.tlog
libpga/DebugTest2/link.540-cvtres.read.1.tlog
libpga/DebugTest2/link.540-cvtres.write.1.tlog
libpga/DebugTest2/link.540-rc.read.1.tlog
libpga/DebugTest2/link.540-rc.write.1.tlog
libpga/DebugTest2/link.540.read.1.tlog
libpga/DebugTest2/link.540.write.1.tlog
libpga/DebugTest2/link.6220-cvtres.read.1.tlog
libpga/DebugTest2/link.6220-cvtres.write.1.tlog
libpga/DebugTest2/link.6220-rc.read.1.tlog
libpga/DebugTest2/link.6220-rc.write.1.tlog
libpga/DebugTest2/link.6220.read.1.tlog
libpga/DebugTest2/link.6220.write.1.tlog
libpga/DebugTest2/link.7500-cvtres.read.1.tlog
libpga/DebugTest2/link.7500-cvtres.write.1.tlog
libpga/DebugTest2/link.7500-rc.read.1.tlog
libpga/DebugTest2/link.7500-rc.write.1.tlog
libpga/DebugTest2/link.7500.read.1.tlog
libpga/DebugTest2/link.7500.write.1.tlog
libpga/DebugTest2/link.8084-cvtres.read.1.tlog
libpga/DebugTest2/link.8084-cvtres.write.1.tlog
libpga/DebugTest2/link.8084-rc.read.1.tlog
libpga/DebugTest2/link.8084-rc.write.1.tlog
libpga/DebugTest2/link.8084.read.1.tlog
libpga/DebugTest2/link.8084.write.1.tlog
libpga/DebugTest2/link.8384-cvtres.read.1.tlog
libpga/DebugTest2/link.8384-cvtres.write.1.tlog
libpga/DebugTest2/link.8384-rc.read.1.tlog
libpga/DebugTest2/link.8384-rc.write.1.tlog
libpga/DebugTest2/link.8384.read.1.tlog
libpga/DebugTest2/link.8384.write.1.tlog
libpga/DebugTest2/link.8712-cvtres.read.1.tlog
libpga/DebugTest2/link.8712-cvtres.write.1.tlog
libpga/DebugTest2/link.8712-rc.read.1.tlog
libpga/DebugTest2/link.8712-rc.write.1.tlog
libpga/DebugTest2/link.8712.read.1.tlog
libpga/DebugTest2/link.8712.write.1.tlog
libpga/DebugTest2/link.command.1.tlog
libpga/DebugTest2/link.read.1.tlog
libpga/DebugTest2/link.write.1.tlog
libpga/DebugTest2/pga.cu.cache
libpga/DebugTest2/test.cu.cache
libpga/DebugTest2/test1.cu.cache
libpga/DebugTest2/test2.cu.cache
libpga/DebugTest2/test3.cu.cache
libpga/DebugTest3/libpga.ilk
libpga/DebugTest3/libpga.lastbuildstate
libpga/DebugTest3/libpga.log
libpga/DebugTest3/libpga.pdb
libpga/DebugTest3/link-cvtres.read.1.tlog
libpga/DebugTest3/link-cvtres.write.1.tlog
libpga/DebugTest3/link-rc.read.1.tlog
libpga/DebugTest3/link-rc.write.1.tlog
libpga/DebugTest3/link.712-cvtres.read.1.tlog
libpga/DebugTest3/link.712-cvtres.write.1.tlog
libpga/DebugTest3/link.712-rc.read.1.tlog
libpga/DebugTest3/link.712-rc.write.1.tlog
libpga/DebugTest3/link.712.read.1.tlog
libpga/DebugTest3/link.712.write.1.tlog
libpga/DebugTest3/link.command.1.tlog
libpga/DebugTest3/link.read.1.tlog
libpga/DebugTest3/link.write.1.tlog
libpga/DebugTest3/pga.cu.cache
libpga/DebugTest3/test.cu.cache
libpga/DebugTest3/test1.cu.cache
libpga/DebugTest3/test2.cu.cache
libpga/DebugTest3/test3.cu.cache
libpga/libpga.opensdf
libpga/libpga.sdf
libpga/libpga.v11.suo
libpga/libpga.vcxproj.user
